@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* app/globals.css */
html, body {
  background: #000;
}

*::-webkit-scrollbar {
  width: 10px;
}
*::-webkit-scrollbar-track {
  background: rgba(255,255,255,0.04);
}
*::-webkit-scrollbar-thumb {
  background: rgba(255,255,255,0.14);
  border-radius: 999px;
}
*::-webkit-scrollbar-thumb:hover {
  background: rgba(255,255,255,0.22);
}
/* ===== NDGG CURSOR ===== */
@media (pointer: fine) {
  html.ndgg-cursor,
  html.ndgg-cursor * {
    cursor: none !important;
  }
}

.ndgg-cursor-dot {
  position: fixed;
  left: 0;
  top: 0;
  width: 8px;
  height: 8px;
  border-radius: 999px;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 9999;
  will-change: transform, opacity;
  opacity: 0;
}

.ndgg-cursor-ring {
  position: fixed;
  left: 0;
  top: 0;
  width: 36px;
  height: 36px;
  border-radius: 999px;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 9998;
  will-change: transform, opacity;
  opacity: 0;
  border: 1px solid rgba(255, 255, 255, 0.18);
  backdrop-filter: blur(2px);
}

.ndgg-cursor--active .ndgg-cursor-dot,
.ndgg-cursor--active .ndgg-cursor-ring {
  opacity: 1;
}

.ndgg-cursor--down .ndgg-cursor-ring {
  width: 28px;
  height: 28px;
}
